<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <script src="/js/home.js" defer></script>
    <title>Metacloud</title>
  </head>
  <body>
    <div class="d-flex">
      <div
        id="overlay"
        style="
          position: fixed;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          visibility: hidden;
        "
      ></div>
      <div
        class="position-absolute p-4"
        style="
          background-color: rgb(230, 230, 230);
          width: 60%;
          height: 80%;
          left: 20%;
          top: 10%;
          visibility: hidden;
        "
        id="modal"
      >
        <div class="d-flex justify-content-between" style="height: 5%">
          <span>
            <span style="font-size: 0.7rem" class="modal-file-name"></span>
            <button
              id="downloadFileBtn"
              class="ml-4 btn btn-secondary"
              style="font-size: 0.7rem"
              onclick="downloadFile()"
            >
              &darr; download
            </button>
            <button
              id="deleteFileBtn"
              class="ml-2 btn btn-danger"
              style="font-size: 0.7rem"
            >
              <> delete
            </button>
          </span>
          <span
            class="font-weight-bold"
            style="cursor: pointer"
            onclick="showModal(false)"
            >&times;</span
          >
        </div>
        <div
          class="modal-file-content"
          style="height: 90%; white-space: pre; overflow: scroll"
        ></div>
      </div>
      <div class="w-75">
        <div class="d-flex justify-content-between align-items-center">
          <img
            src="/images/logo.png"
            alt="Metacloud-Logo"
            style="width: 200px; height: 200px"
          />
          <input type="file" hidden id="uploadInput" />
          <button
            type="button"
            id="uploadBtn"
            class="btn text-white mr-4"
            style="font-size: 0.7rem; background-color: #f29765"
          >
            Upload
          </button>
        </div>
        <div id="filesDiv" class="d-flex p-4" style="flex-wrap: wrap">
          <% files.forEach((f)=>{ %>
          <div
            style="width: 200px; height: 200px; cursor: pointer"
            class="d-flex flex-column align-items-center border m-3"
            data-id="<%= f._id %>"
          >
            <img
              src="<% if(f.type.includes('image')) {%> /images/imageFile.jpg <% } else { %> /images/textFile.png <% } %>"
              alt="File-Image"
              class="w-75 h-75 pt-3"
            />
            <div
              class="w-100 px-3 py-2 d-flex justify-content-between align-items-center"
            >
              <span style="font-size: 0.7rem"><%= f.name %></span>
              <span style="font-weight: bold; cursor: pointer" class="p-1"
                >&equiv;</span
              >
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <div class="d-flex flex-column w-25 border-left mt-5">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div
            class="mr-3 border rounded-circle p-1"
            style="width: 80px; height: 80px"
          >
            <img
              src="/images/noImg.jpg"
              alt="Profile-Image"
              class="rounded-circle w-100"
            />
          </div>
          <div class="d-flex flex-column mr-5">
            <span class="text-muted mb-2" style="font-size: 0.8rem"
              >@<%= user.name %></span
            >
            <button
              id="logoutBtn"
              class="btn btn-secondary"
              style="font-size: 0.7rem"
            >
              Logout
            </button>
          </div>
        </div>
        <div class="p-4">
          <span id="MBDiv" style="font-size: 0.7rem"
            ><%= parseFloat(user.size).toFixed(1) %> / 500 (MB)</span
          >
          <div class="w-100 border" style="height: 30px">
            <div
              style="
                height: 100%;
                background-color: #f29765;
                width: <%= (user.size * 100) / 500 %>%;
              "
            ></div>
          </div>
        </div>
        <div class="p-4">
          <span style="font-size: 0.7rem"
            ><span style="color: #f29765">#</span> Features</span
          >
          <ul class="mt-2">
            <li style="font-size: 0.7rem">Maximum storage capacity: 500MB</li>
            <li style="font-size: 0.7rem">Maximum file size: 15MB</li>
            <li style="font-size: 0.7rem">
              Supported file types: (Images, Files)
            </li>
            <li style="font-size: 0.7rem" class="mt-1">
              <span>Future support</span>
              <ul>
                <li style="font-size: 0.7rem">Video/Audio uploads</li>
                <li style="font-size: 0.7rem">Folder structure</li>
                <li style="font-size: 0.7rem">Multiple file uploads</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="p-4 d-flex flex-column">
          <span style="font-size: 0.7rem"
            ><span style="color: #f29765">&#8486;</span> Share link</span
          >
          <div class="d-flex justify-content-between align-items-center pt-3">
            <div>
              <a
                href="/share/<%= link._id %>"
                class="border px-4 py-2 text-muted"
                style="font-size: 0.8rem; text-align: center"
                ><%= link._id %></a
              >
              <span
                id="copyBtn"
                class="ml-2"
                data-link="/share/<%= link._id %>"
                style="cursor: pointer"
                >&copy;</span
              >
            </div>
            <span id="optionBtn" style="cursor: pointer" data-state="close"
              >&Darr;</span
            >
          </div>
          <div id="optionDiv" class="mt-4 flex-column" style="display: none">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <input type="checkbox" id="protectedCheckBox" class="mr-2"
                checked="<% if(link.secure) "checked" %>" />
                <span style="font-size: 0.7rem">protected</span>
              </div>
              <button
                id="savePasswordBtn"
                class="btn btn-secondary mt-2 align-self-end"
                style="font-size: 0.7rem"
              >
                Save
              </button>
            </div>
            <input id="optionPasswordInput" type="password"
            placeholder="Password" style="font-size: 0.7rem;" class="px-4 py-1
            mt-2 <% if(link.secure) { "visible"} else {"invisible"} %> "
            value="<%= link.password %>" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
